<div class="flex flex-col md:flex-row items-center justify-between bg-white p-5 max-w-3xl mx-auto rounded-lg shadow-md mt-5">
    <img src="logo.JPG" class="w-24 h-24 md:w-28 md:h-28" alt="Logo Moje Pszczoły">
    <div class="text-right">
      <h1 class="text-2xl md:text-3xl font-bold">Moje Pszczoły</h1>
      <h2 class="text-xl md:text-2xl text-gray-600">Marek Kulawik</h2>
    </div>
    <div class="flex space-x-3 mt-3 md:mt-0">
      <img src="bread0.jpeg" class="w-20 h-20 md:w-24 md:h-24 rounded-md" alt="Chleb 1">
      <img src="bread1.jpeg" class="w-20 h-20 md:w-24 md:h-24 rounded-md" alt="Chleb 2">
      <img src="bread2.jpeg" class="w-20 h-20 md:w-24 md:h-24 rounded-md" alt="Chleb 3">
    </div>
  </div>