<h2 mat-dialog-title class="bg-white text-2xl !font-bold text-center">✏️ Edytuj Zamówienie</h2>

<mat-dialog-content class="bg-white p-4">
  <app-order-form
    [order]="order"
    [breadTypes]="availableBreads"
    [availableDates]="availableDates"
    #orderForm>
  </app-order-form>
</mat-dialog-content>

<mat-dialog-actions class="bg-white flex justify-end p-4 space-x-4">
    <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="!orderForm.isFormValid()">💾 Zapisz</button>
  <button mat-raised-button (click)="cancel()">❌ Anuluj</button>
</mat-dialog-actions>
