<form class="bg-white p-4 space-y-4">
  <!-- 🔹 Imię i Nazwisko -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Imię i Nazwisko</mat-label>
    <input onlyLetters matInput [(ngModel)]="order.customerName" name="customerName" required>
    <mat-error *ngIf="showValidationErrors && !order.customerName">To pole jest wymagane.</mat-error>
  </mat-form-field>

<!-- 🔹 Telefon -->
<mat-form-field appearance="outline" class="w-full">
    <mat-label>📞 Telefon:</mat-label>
    <span matTextPrefix>+48 &nbsp;</span>
    <input  onlyDigits
    matInput 
    [(ngModel)]="order.phone" 
    name="phone"
    placeholder="123456789"
    minlength="9"maxlength="9"
    pattern="[0-9]*"
    required
    type="tel">
    <mat-error *ngIf="showValidationErrors && (order.phone?.toString()?.length || 0) < 9">
    Numer telefonu musi mieć 9 cyfr.
    </mat-error>
</mat-form-field>

  <!-- 🔹 Wybór daty dostawy -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>📅 Dzień dostawy</mat-label>
    <mat-select [(ngModel)]="order.orderDate" name="orderDate">
      <mat-option  *ngFor="let date of availableDates" [value]="date.value">
        {{ date.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- 🔹 Uwagi -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Uwagi</mat-label>
    <textarea name="note"[(ngModel)]="order.note" maxlength="200" matInput></textarea>
  </mat-form-field>

    
  <h3 *ngIf="order.items.length > 0" class="font-bold text-lg">🥖 Zamawiane chleby:</h3>
    <!-- 🔹 Chleby -->
    <div *ngFor="let bread of order.items; let i = index" class="flex items-center justify-between border border-gray-300 rounded-lg p-3 shadow-sm bg-gray-100">

        <!-- Wybór chleba -->
        <mat-form-field  subscriptSizing="dynamic" appearance="outline" class="custom-select w-1/2">
            <mat-label>Wybrany Chleb</mat-label>
            <mat-select appearance="outline" [(ngModel)]="bread.breadId" name="bread{{i}}" (selectionChange)="onBreadSelectionChange(i, $event.value)">
                <mat-option *ngFor="let b of availableBreads" [value]="b.breadId" [disabled]="b.disabled">
                    {{ b.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <!-- Ilość chleba -->
        <div class="flex items-center justify-center space-x-2">
            <button type="button" mat-mini-fab  (click)="decreaseQuantity(i)" [disabled]="bread.quantity <= 1" class="flex items-center justify-center">
                <mat-icon>remove</mat-icon>
            </button>
            <span class="text-lg font-bold w-6 text-center">{{ bread.quantity }}</span>
            <button type="button" mat-mini-fab (click)="increaseQuantity(i)" [disabled]="bread.quantity >= 10" class="flex items-center justify-center">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    
        <!-- Usuń chleb -->
        <button mat-raised-button color="warn" (click)="removeBreadChoice(i)" class="flex items-center justify-center !bg-red-500 !text-white">
            Usuń
        </button>
    
    </div>
    

    <!-- 🔹 Powiększony Przycisk "Dodaj Chleb" -->
    <button class="w-full !text-lg p-4 !h-14 !bg-green-400 !text-white" mat-raised-button color="primary" type="button" (click)="addBreadChoice()">
        🍞 Dodaj kolejny chleb
    </button>

    <mat-error *ngIf="showValidationErrors && order.items.length === 0">
        Musisz dodać co najmniej jeden chleb
    </mat-error>
</form>