<mat-dialog-content class="text-center p-6">
    <h2 class="text-xl font-bold">Potwierdzenie zamówienia</h2>
  <br>
    <div class="text-left mt-3 space-y-2">
      <p class="flex items-center">
        <mat-icon class="text-red-500 mr-2">badge</mat-icon>
        <strong>Zamawiający:&nbsp;</strong> {{ data.order.customerName }}
      </p>
      <p class="flex items-center">
        <mat-icon class="text-red-500 mr-2">phone</mat-icon>
        <strong>Telefon:&nbsp;</strong> {{ data.order.phone }}
      </p>
      <p class="flex items-center">
        <mat-icon class="text-blue-500 mr-2">calendar_today</mat-icon>
        <strong>Data dostawy:&nbsp;</strong> {{ data.order.orderDate | date: 'EEEE, dd.MM.yyyy' }}
      </p>
    </div>
  <br>
    <h3 class="mt-4 font-bold flex items-center">
      <mat-icon class="text-yellow-500 mr-2">bakery_dining</mat-icon> Zamawiane chleby:
    </h3>
  
    <ul class="text-left mt-2 space-y-1">
      <li *ngFor="let bread of data.order.items" class="flex items-center">
        🍞 <span class="ml-2">{{ bread.name }} - <strong>{{ bread.quantity }} szt.</strong></span>
      </li>
    </ul>
  </mat-dialog-content>
  <br>
  <mat-dialog-actions class="flex justify-center gap-4 mt-5">
    <button mat-raised-button color="warn" class="!text-lg p-3 w-40 flex items-center gap-2" (click)="cancel()">
        ❌ Anuluj
      </button>
    <button mat-raised-button color="primary" class="!text-lg p-3 w-40 flex items-center gap-2" (click)="confirm()">
      ✅ Potwierdź
    </button>
  </mat-dialog-actions>
  