<div class="custom-form">
  <h2 class="p-3 text-2xl font-bold flex flex-row justify-center items-center">
    Co u nas
    <span class="text-yellow-500 font-bold text-3xl">?</span>
  </h2>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100072225518972&tabs=timeline&width=500&height=750&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId&small_header=true" width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
